* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: grey;
}

header {
  background-color: white;
}

header .container {
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: gold;
}

header a {
  text-decoration: none;
  color: magenta;
}

.pages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50vh;
  padding: 20px;
  margin: 0 auto;
}

input.error {
  border: 1px solid red;
}

.workout-details input {
  display: block;
  margin: 2px 0;
}

.home {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
}

.graph {
  padding: 0 50px;
}

.form {
  padding: 50px 10px;
  background-color: aqua;
}
